.env
.venv/
output/
_archive/
*.log
__pycache__/
.DS_Store

# React Dashboard
node_modules/
build/
.next/
dist/

# Scraper Output & Checkpoints
data/output/*
!data/output/.gitkeep
data/checkpoints/*
!data/checkpoints/.gitkeep
